/* Use et-book font */
* {
  text-rendering: optimizeLegibility;
  font-kerning: auto;
  font-family: "et-book" !important;
}

/* Center captions on figure */
.figure p {
  text-align: center;
}

/* Allow link coloring to show through code snippets */
a>code {
  color: inherit;
}

/* Bibliography settings */
/* Hide a self-ref cite link so this note appears in its own bibliography. */
.SELFLINK {
  display: none;
}

/* Hide the section number of the bibliography header as :title isn't working. */
.BIBLIOGRAPHY [class^=section-number-] {
  display: none;
}

/* Add space between bib entries. */
.csl-entry {
  padding-top: 10px;
}

/* Add boarder and the like to example (verbatim) sections of org docs */
.example {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    font-family: Lucida Console,monospace !important;
    font-size: 80%;
    margin: 1em auto;
    padding: 0.1em 0.5em;
    position: relative;
    line-height: 1.4em;
}

/* Make sure src code is monospace. */
.src {
    font-family: Lucida Console,monospace !important;
    line-height: 1.4em;
}

/* Make sure the spans (used for color) in source blocks are monospace. */
.src>span[class^="org-"] {
    font-family: Lucida Console,monospace !important;
}

.title {
  color: #a5573e
}
